
<h1>Locutus Demo</h1>

<button (click)="changeLang()">Change Language</button>

<br>
<br>

<h4>Locutus Directive:</h4>
<ng-container *locutus="let t of 'scope1'">
  {{t.title}}
</ng-container>

<br>
<br>

<h4>Locutus Pipe:</h4>
{{ 'message' | locutus:'scope1' | async }}

<br>
<br>

<h4>Manual Translation:</h4>
{{ title$ | async }}
{{ message }}
<br>
<br>

<h3>Lazy Modules: </h3>
<button routerLink="picard">Load Picard</button>
<button routerLink="la-forge">Load La Forge</button>
<br>
<router-outlet>
</router-outlet>

<app-la-forge></app-la-forge>
